<h1><img class="logo" width="40" height="40" src="/favicon.svg" alt="Logo"> air-Q Prometheus Exporter</h1>
<nav role="navigation" aria-labelledby="menu-1">
    <span id="menu-1">Web:</span>
    <a href="/web/data">Data</a> |
    <a href="/web/config">Config</a> |
    <a href="/web/logs">Logs</a>
</nav>

<nav role="navigation" aria-labelledby="menu-2">
    <span id="menu-2">air-Q:</span>
    <a href="/metrics">Metrics</a> |
    <a href="/airq/data">Data</a> |
    <a href="/airq/config">Config</a> |
    <a href="/airq/standardpass">Standardpass</a> |
    <a href="/airq/ssid">SSID</a> |
    <a href="/airq/average">Average</a> |
    <a href="/airq/blink">Blink</a> |
    <a href="/airq/log">Log</a> |
    <a href="/airq/ping">Ping</a> |
    <a href="/airq/version">Version</a>
</nav>
