<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>

    <!-- custom coloring conversion -->
    <conversionRule conversionWord="highlight_custom" class="de.pascalwagler.airq.logging.HighlightingCompositeConverterCustom"/>

    <appender name="Console" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%cyan(%d{ISO8601}) %highlight_custom( %-6level) [%blue(%t)] %yellow(%c{20}): %msg%n%red(%throwable)</pattern>
        </encoder>
    </appender>

    <appender name="CyclicBuffer" class="ch.qos.logback.core.read.CyclicBufferAppender">
        <maxSize>100</maxSize>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="CyclicBuffer"/>
    </root>
</configuration>
